
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold pb-4">Submit Recipe</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Share your amazing recipes with thousands of web app developers accros the world. fill our form to get started. </p>
    </div>
</div>

<% if (infoSubmitObj!=''){%>
<div class="col-8 alert alert-success" role="alert">
    <%-infoSubmitObj%>
  </div>
<% } %>

<% if (infoErrorsObj!=''){%>
    <div class="col-8 alert alert-danger" role="alert">
        <%-infoErrorsObj%>
      </div>
    <% } %>

<div class="row justify-content-center">
    <div class="col-8">
        <form action="/submit-recipe" enctype="multipart/form-data" method="POST">

            <div class="row g-3">
                <div class="col-12">
                    <label for="email" class="form-label fw-bold">Email</label>
                    <input type="email" name="email" id="email" class="form-control">

                </div>

                <div class="col-12">
                    <label for="name" class="form-label fw-bold">Recipe Name</label>
                    <input type="text" name="name" id="name" class="form-control" >
                    
                </div>

                <div class="col-12">
                    <label for="description" class="form-label fw-bold">Description</label>
                    <textarea name="description" id="description" class="form-control" cols="30" rows="4"></textarea>
                </div>

                <div class="col-12">
                    <label for="Indgredients" class="fw-bold form-label">Indgredients</label>
                    <div class="ingredientlist">
                        <div class="ingredientDiv mb-1">
                            <input type="text" name="Indgredients" class="form-control" >
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-outline-primary" id="addIngredientBtn">+Indgredients</button>
                </div>
                <div class="col-12">
                    <label for="category" class="fw-bold form-label">Select Category</label>
                    <select name="category" aria-label="Category" class="form-select form-control" >
                        <option selected>Select Category</option>
                        <option value="Thai">Thai</option>
                        <option value="American">American</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Mexican">Mexican</option>
                        <option value="Indian">Indian</option>

                    </select>

                </div>

                <div class="col-12">
                    <label for="image" class="fw-bold form-label" >Product Image</label>
                    <input type="file" class="form-control" name="image"  accept="image/">
                </div>

                <div class="col-12">
                    <button class="btn btn-primary"> Submit Recipe</button>
                </div>
            </div>
        </form>
    </div>

</div>